<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntroProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div class="pricing-header text-center">
      <h1 class="display-4">De Leon Basketball Association</h1>
    </div>
    <%= yield %>
  </body>
</html>
